@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-shown {
    @apply transition ease-out duration-100 transform opacity-100 scale-100
  }
  .dropdown-hidden {
    @apply transition ease-in duration-75 transform opacity-0 scale-95
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}





